<div class="4u 12u(mobile)">
    <section class="box">
        {% if project.Image is defined  %}
            <a href="{{ path('portfolio_project', {'shortname': project.ShortName}) }}">
                <img src="{{ asset('bundles/app/images/' ~ project.Image) }}" class="image" alt="" />
            </a>
        {% endif %}
        {% if project.Name is defined %}
            <header><h3>{{ project.Name }}</h3></header>
        {% endif %}
        {% if project.Synopsis is defined %}
            <p>{{ project.Synopsis }}</p>
        {% endif %}
        {% if project.ShortName is defined %}
            <footer><a href="{{ path('portfolio_project', {'shortname': project.ShortName}) }}" class="button alt">Find out more</a></footer>
        {% endif %}
    </section>
</div>
